.user-profile__user-info {
  color: #ffffff;
  width: 336px;
  margin-right: auto;
  padding-top: 18px;
  padding-bottom: 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 720px) {
  .user-profile__user-info {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 425px) {
  .user-profile__user-info {
    width: 280px;
  }
}