.user-profile__avatar {
  width: 120px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  margin: 0px 30px 0px 0px;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

@media screen and (max-width: 720px) {
  .user-profile__avatar {
    margin-right: 0;
    margin-bottom: 14px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}