<<<<<<< HEAD
.form__title {
=======
<<<<<<< HEAD:blocks/edit-form/__title/edit-form__title.css
.edit-form__title {
>>>>>>> 7f51fd88894c385bcef447a1835bb2f13ebad69f
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin: 0 0 44px 0;
}

@media screen and (max-width: 823px) {
  .form__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 25px;
  }
<<<<<<< HEAD
=======
=======
.form__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin: 0 0 44px 0;
}

@media screen and (max-width: 823px) {
  .form__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 25px;
  }
>>>>>>> develop:blocks/form/__title/form__title.css
>>>>>>> 7f51fd88894c385bcef447a1835bb2f13ebad69f
}