<<<<<<< HEAD
.form__input {
=======
<<<<<<< HEAD:blocks/edit-form/__input/edit-form__input.css
.edit-form__input {
>>>>>>> 7f51fd88894c385bcef447a1835bb2f13ebad69f
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 0 0 10px;
  margin: 0;
}

@media screen and (max-width: 823px) {
  .form__input {
    font-size: 12px;
    line-height: 1.25;
    padding-bottom: 9px;
  }
<<<<<<< HEAD
=======
=======
.form__input {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 0 0 10px;
  margin: 0;
}

@media screen and (max-width: 823px) {
  .form__input {
    font-size: 12px;
    line-height: 1.25;
    padding-bottom: 9px;
  }
>>>>>>> develop:blocks/form/__input/form__input.css
>>>>>>> 7f51fd88894c385bcef447a1835bb2f13ebad69f
}