@import url('./_type/button_type_edit.css');
@import url('./_type/button_type_close.css');
@import url('./_type/button_type_submit.css');
@import url('./_type/button_type_like.css');
@import url('./_type/button_type_add.css');
.button {
  outline: none;
  padding: 0;
  cursor: pointer;
}